html, body, #root {
  height: 100%;
}

#root {
 display: flex;
 flex-direction: column;
}

footer { 
margin-top: auto;
}

body {
  background-color: #222; /* Dark background color */
  color: #fff; /* Light text color */
}
